StreetviewRipper.exe.config
StreetviewRipper.pdb
Newtonsoft.Json.xml
/Output/*
/Libraries/LDR2HDR/streetview.jpg
/Libraries/LDR2HDR/streetview.hdr
/Libraries/EXR2HDR/input.exr
/Libraries/EXR2HDR/output.hdr
/Libraries/Classify/timerOutput.txt