x_data.npy
y_data.npy
.idea/*
DeepDoodle/*
__pycache__/*
dutil.pyc
Scores.png
model.png
Model.h5
user_drawing.png

#These files are re-made by DeepLearningLanding, so don't push them
datagen.py 
gpu.theanorc